# Real Estate Web Scrapping

Objective: 
- To Scrape data from FazWaz real estate website which has area in Bangkok
- To collect the data to CSV file, both writing csv directly and putting in pandas before
- To visualize the data of Property Price for Sale in Bangkok with Tableau

Method:
- Using BeautifulSoup, requests, pandas

In [65]:
#import library

from bs4 import BeautifulSoup
import requests
import pandas as pd
import time 
import datetime

# Import data

In [66]:
url='https://www.fazwaz.com/property-for-sale/thailand/bangkok'

In [67]:
# get data from url

page = requests.get(url)
print(page) #200 means successful response

<Response [200]>

In [68]:
#tell BeautifulSoup to get content in html

soup1 = BeautifulSoup(page.content, 'html.parser')

In [69]:
#display in html nested stucture

soup2 = BeautifulSoup(soup1.prettify(), 'html.parser')
#print(soup2)

# Scrapping data

In [70]:
# look at page title

page_title = soup2.title
page_title

<title>
         Property for Sale in Bangkok - FazWaz
        </title>

In [71]:
#look at lists

lists = soup2.find_all('li', {'data-tk':'unit-result'})  #find with css #use find_all to fide all listed in this page
# print(lists)

In [72]:
#look at title of fist list

title = soup2.find('a', class_='unit-name unit-name--have-project-link').text.strip()   #find with python class_
print(title)

First Tower

In [73]:
#look at location of fist list

location = soup2.find('div', class_='location-unit').text.strip()
print(location)

Khlong Toei Nuea, Watthana, Bangkok

In [74]:
#look at price of fist list

find_price = soup2.find('div', {'class':'price-tag'}).text.strip()
print(find_price)

฿3,780,000

            ฿4,350,000


            (฿53,900/SqM)

In [75]:
price = find_price.split(' ')[0].strip()[1:]  #split into a list and select[0]position ib the list then remove \n and bath sigh
price

'3,780,000'

In [85]:
#look at number of all icon

icon = soup2.find('div', {'class':'wrap-icon-info'}).text.strip()

print(icon)

Studio


           1

            Bathroom(s)




            70 SqM


            Property Type:



           Condo

In [86]:
icon.split()  #split into a list

['Studio', '1', 'Bathroom(s)', '70', 'SqM', 'Property', 'Type:', 'Condo']

In [108]:
#to use finding info. in icon

import re

b = []

for s in icon.split():
    if re.findall(r'\b\d+\b',s):
        b.append(s)
        print(b)
        if len(b)==2:
            bedroom = icon.split()[0]
            bathroom = icon.split()[1]
            area = icon.split()[3]
        else:
            bedroom = icon.split()[0]
            bathroom = icon.split()[2]
            area = icon.split()[4]

# print(bathroom)

['1']
['1', '70']
1

In [113]:
print(b)

['1', '70']

In [30]:
type(b)

list

In [105]:
#bedroom (str)

bedroom

'Studio'

In [109]:
#is bathroom (str)

bathroom

'1'

In [110]:
#is area (str)


area

'70'

In [111]:
# Type of estate in list

type_list = icon.split()[-1]
type_list

'Condo'

In [112]:
#date
import datetime
today = datetime.date.today().strftime('%Y-%m-%d')
print(today)

2023-03-28

#  Finding all data contained in this page

In [122]:
for list in lists:
    title = list.find('a', class_='unit-name unit-name--have-project-link').text.strip()
    
    location = list.find('div', class_='location-unit').text.strip()
    
    find_price = list.find('div', {'class':'price-tag'}).text.strip()
    price = find_price.split(' ')[0].strip()[1:]
    
    icon = list.find('div', {'class':'wrap-icon-info'}).text.strip()
    
    import re

    b = []

    for s in icon.split():
        if re.findall(r'\b\d+\b',s):
            b.append(s)
            if len(b)==2:
                bedroom = icon.split()[0]
                bathroom = icon.split()[1]
                area = icon.split()[3]
            else:
                bedroom = icon.split()[0]
                bathroom = icon.split()[2]
                area = icon.split()[4]
    bedroom
    bathroom
    area
    type_list = icon.split()[-1]

    
    import datetime
    today = datetime.date.today().strftime('%Y-%m-%d')
    

                
    
    info = [title, location, price, area, bedroom, bathroom, type_list, today]
    print(info)

['First Tower', 'Khlong Toei Nuea, Watthana, Bangkok', '3,780,000', '70', 'Studio', '1', 'Condo', '2023-03-28']
['Varathorn Ville', 'Suan Luang, Suan Luang, Bangkok', '4,900,000', '300', '5', '5', 'Townhouse', '2023-03-28']
['Sukhumvit Suite', 'Khlong Toei Nuea, Watthana, Bangkok', '3,550,000', '53', '1', '1', 'Condo', '2023-03-28']
['The Room Sukhumvit 21', 'Khlong Toei Nuea, Watthana, Bangkok', '8,500,000', '52', '1', '1', 'Condo', '2023-03-28']
['Supakarn Condominium', 'Khlong Ton Sai, Khlong San, Bangkok', '28,000,000', '273', '3', '3', 'Condo', '2023-03-28']
['Passorn Prestige Onnut', 'Prawet, Prawet, Bangkok', '6,600,000', '261', '3', '2', 'House', '2023-03-28']
['Thonglor Tower', 'Khlong Tan Nuea, Watthana, Bangkok', '3,500,000', '49', '1', '1', 'Condo', '2023-03-28']
['River Heaven', 'Bang Kho Laem, Bang Kho Laem, Bangkok', '8,990,000', '99', '3', '2', 'Condo', '2023-03-28']
['Mano Tower', 'Khlong Tan Nuea, Watthana, Bangkok', '45,000,000', '326', '2', '3', 'Condo', '2023-03-28']
['The Park Chidlom', 'Lumphini, Pathum Wan, Bangkok', '38,200,000', '146', '2', '3', 'Condo', '2023-03-28']
['Resorta Watcharapol', 'Tha Raeng, Bang Khen, Bangkok', '3,490,000', '190', '3', '4', 'Townhouse', '2023-03-28']
['Baan Sansiri Sukhumvit 67', 'Phra Khanong Nuea, Watthana, Bangkok', '93,000,000', '376', '4', '5', 'House', '2023-03-28']
['Life Ladprao Valley', 'Chomphon, Chatuchak, Bangkok', '6,090,000', '35', '1', '1', 'Condo', '2023-03-28']
['My Condo Sukhumvit 52', 'Bang Chak, Phra Khanong, Bangkok', '2,600,000', '35.19', '1', '1', 'Condo', '2023-03-28']
['Wyndham Bangkok Queen Convention Centre', 'Khlong Toei, Khlong Toei, Bangkok', '13,500,000', '83', '2', '2', 'Condo', '2023-03-28']
['Aspire Sukhumvit-Rama 4', 'Phra Khanong, Khlong Toei, Bangkok', '5,563,425', '55', '2', '2', 'Condo', '2023-03-28']
['Baan Saraan', 'Khlong Toei Nuea, Watthana, Bangkok', '34,000,000', '300', '3', '3', 'Penthouse', '2023-03-28']
['Belle Grand Rama 9', 'Huai Khwang, Huai Khwang, Bangkok', '27,000,000', '182', '2', '4', 'Penthouse', '2023-03-28']
['Baan Ploenchit', 'Lumphini, Pathum Wan, Bangkok', '45,000,000', '360', '3', '3', 'Penthouse', '2023-03-28']
['Supalai Park Kaset', 'Sena Nikhom, Chatuchak, Bangkok', '3,039,000', '51', '1', '1', 'Condo', '2023-03-28']
['Casa Ekamai 28', 'Khlong Tan Nuea, Watthana, Bangkok', '89,000,000', '846', '4', '4', 'House', '2023-03-28']
['28 Chidlom', 'Lumphini, Pathum Wan, Bangkok', '27,900,000', '78', '2', '2', 'Condo', '2023-03-28']
['Thonglor Tower', 'Khlong Tan Nuea, Watthana, Bangkok', '3,300,000', '49', '1', '1', 'Condo', '2023-03-28']
['The Strand Thonglor', 'Khlong Tan Nuea, Watthana, Bangkok', '19,500,000', '55', '1', '1', 'Condo', '2023-03-28']
['Commonwealth Pinklao', 'Bang Bamru, Bang Phlat, Bangkok', '3,150,000', '46', '1', '1', 'Apartment', '2023-03-28']
['Thonglor Tower', 'Khlong Tan Nuea, Watthana, Bangkok', '6,800,000', '99', '2', '2', 'Condo', '2023-03-28']
['Lumpini Ville Cultural Center', 'Sam Sen Nok, Huai Khwang, Bangkok', '1,854,000', '35', '1', '1', 'Condo', '2023-03-28']
['Hive Taksin', 'Khlong Ton Sai, Khlong San, Bangkok', '9,000,000', '73', '2', '2', 'Condo', '2023-03-28']
['Rhythm Ekkamai', 'Khlong Tan Nuea, Watthana, Bangkok', '8,000,000', '35', '1', '1', 'Condo', '2023-03-28']
['Click Condo Sukhumvit 65', 'Phra Khanong Nuea, Watthana, Bangkok', '5,200,000', '54', '1', '1.5', 'Condo', '2023-03-28']

# Moving the data into a CSV file

In [123]:
#import to CSV file

import csv

header = ['title', 'location', 'price (baht)', 'area (SqM)', 'bedroom', 'bathroom', 'type', 'date']

with open('RealEstate_2.csv', 'w', newline='', encoding='UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(header)
    
    for list in lists:
        title = list.find('a', class_='unit-name unit-name--have-project-link').text.strip()

        location = list.find('div', class_='location-unit').text.strip()

        find_price = list.find('div', {'class':'price-tag'}).text.strip()
        price = find_price.split(' ')[0].strip()[1:]

        icon = list.find('div', {'class':'wrap-icon-info'}).text.strip()

        import re

        b = []

        for s in icon.split():
            if re.findall(r'\b\d+\b',s):
                b.append(s)
                if len(b)==2:
                    bedroom = icon.split()[0]
                    bathroom = icon.split()[1]
                    area = icon.split()[3]
                else:
                    bedroom = icon.split()[0]
                    bathroom = icon.split()[2]
                    area = icon.split()[4]
        bedroom
        bathroom
        area
        type_list = icon.split()[-1]


        import datetime
        today = datetime.date.today().strftime('%Y-%m-%d')




        info = [title, location, price, area, bedroom, bathroom, type_list, today]

        writer.writerow(info)

In [124]:
df = pd.read_csv(r"C:\Users\Lenovo\RealEstate_2.csv")
df

,title,location,price (baht),area (SqM),bedroom,bathroom,type,date
0,First Tower,"Khlong Toei Nuea, Watthana, Bangkok","3,780,000",70.00,Studio,1.0,Condo,2023-03-28
1,Varathorn Ville,"Suan Luang, Suan Luang, Bangkok","4,900,000",300.00,5,5.0,Townhouse,2023-03-28
2,Sukhumvit Suite,"Khlong Toei Nuea, Watthana, Bangkok","3,550,000",53.00,1,1.0,Condo,2023-03-28
3,The Room Sukhumvit 21,"Khlong Toei Nuea, Watthana, Bangkok","8,500,000",52.00,1,1.0,Condo,2023-03-28
4,Supakarn Condominium,"Khlong Ton Sai, Khlong San, Bangkok","28,000,000",273.00,3,3.0,Condo,2023-03-28
5,Passorn Prestige Onnut,"Prawet, Prawet, Bangkok","6,600,000",261.00,3,2.0,House,2023-03-28
6,Thonglor Tower,"Khlong Tan Nuea, Watthana, Bangkok","3,500,000",49.00,1,1.0,Condo,2023-03-28
7,River Heaven,"Bang Kho Laem, Bang Kho Laem, Bangkok","8,990,000",99.00,3,2.0,Condo,2023-03-28
8,Mano Tower,"Khlong Tan Nuea, Watthana, Bangkok","45,000,000",326.00,2,3.0,Condo,2023-03-28
9,The Park Chidlom,"Lumphini, Pathum Wan, Bangkok","38,200,000",146.00,2,3.0,Condo,2023-03-28
10,Resorta Watcharapol,"Tha Raeng, Bang Khen, Bangkok","3,490,000",190.00,3,4.0,Townhouse,2023-03-28
11,Baan Sansiri Sukhumvit 67,"Phra Khanong Nuea, Watthana, Bangkok","93,000,000",376.00,4,5.0,House,2023-03-28
12,Life Ladprao Valley,"Chomphon, Chatuchak, Bangkok","6,090,000",35.00,1,1.0,Condo,2023-03-28
13,My Condo Sukhumvit 52,"Bang Chak, Phra Khanong, Bangkok","2,600,000",35.19,1,1.0,Condo,2023-03-28
14,Wyndham Bangkok Queen Convention Centre,"Khlong Toei, Khlong Toei, Bangkok","13,500,000",83.00,2,2.0,Condo,2023-03-28
15,Aspire Sukhumvit-Rama 4,"Phra Khanong, Khlong Toei, Bangkok","5,563,425",55.00,2,2.0,Condo,2023-03-28
16,Baan Saraan,"Khlong Toei Nuea, Watthana, Bangkok","34,000,000",300.00,3,3.0,Penthouse,2023-03-28
17,Belle Grand Rama 9,"Huai Khwang, Huai Khwang, Bangkok","27,000,000",182.00,2,4.0,Penthouse,2023-03-28
18,Baan Ploenchit,"Lumphini, Pathum Wan, Bangkok","45,000,000",360.00,3,3.0,Penthouse,2023-03-28
19,Supalai Park Kaset,"Sena Nikhom, Chatuchak, Bangkok","3,039,000",51.00,1,1.0,Condo,2023-03-28
20,Casa Ekamai 28,"Khlong Tan Nuea, Watthana, Bangkok","89,000,000",846.00,4,4.0,House,2023-03-28
21,28 Chidlom,"Lumphini, Pathum Wan, Bangkok","27,900,000",78.00,2,2.0,Condo,2023-03-28
22,Thonglor Tower,"Khlong Tan Nuea, Watthana, Bangkok","3,300,000",49.00,1,1.0,Condo,2023-03-28
23,The Strand Thonglor,"Khlong Tan Nuea, Watthana, Bangkok","19,500,000",55.00,1,1.0,Condo,2023-03-28
24,Commonwealth Pinklao,"Bang Bamru, Bang Phlat, Bangkok","3,150,000",46.00,1,1.0,Apartment,2023-03-28
25,Thonglor Tower,"Khlong Tan Nuea, Watthana, Bangkok","6,800,000",99.00,2,2.0,Condo,2023-03-28
26,Lumpini Ville Cultural Center,"Sam Sen Nok, Huai Khwang, Bangkok","1,854,000",35.00,1,1.0,Condo,2023-03-28
27,Hive Taksin,"Khlong Ton Sai, Khlong San, Bangkok","9,000,000",73.00,2,2.0,Condo,2023-03-28
28,Rhythm Ekkamai,"Khlong Tan Nuea, Watthana, Bangkok","8,000,000",35.00,1,1.0,Condo,2023-03-28
29,Click Condo Sukhumvit 65,"Phra Khanong Nuea, Watthana, Bangkok","5,200,000",54.00,1,1.5,Condo,2023-03-28

# Moving it into Multiple pages

Make it multiple pages and put in dataframe to save csv file instead

In [125]:


book_estate = []

for i in range(1,5):
    url='https://www.fazwaz.com/property-for-sale/thailand/bangkok' + '?order_by=rank|asc' + '&page={i}'
    page = requests.get(url)
    soup1 = BeautifulSoup(page.content, 'html.parser')
    soup2 = BeautifulSoup(soup1.prettify(), 'html.parser')
    lists = soup2.find_all('li', {'data-tk':'unit-result'})

    for list in lists:
        title = list.find('a', class_='unit-name unit-name--have-project-link').text.strip()

        location = list.find('div', class_='location-unit').text.strip()

        find_price = list.find('div', {'class':'price-tag'}).text.strip()
        price = find_price.split(' ')[0].strip()[1:]

        icon = list.find('div', {'class':'wrap-icon-info'}).text.strip()

        import re

        b = []

        for s in icon.split():
            if re.findall(r'\b\d+\b',s):
                b.append(s)
                if len(b)==2:
                    bedroom = icon.split()[0]
                    bathroom = icon.split()[1]
                    area = icon.split()[3]
                else:
                    bedroom = icon.split()[0]
                    bathroom = icon.split()[2]
                    area = icon.split()[4]
        bedroom
        bathroom
        area
        type_list = icon.split()[-1]

        import datetime
        today = datetime.date.today().strftime('%Y-%m-%d')


        book_estate.append([title, location, price, area, bedroom, bathroom, type_list, today])

In [126]:
#put it into dataframe

df = pd.DataFrame(book_estate, columns=['title', 'location', 'price (baht)', 'area (SqM)', 'bedroom', 'bathroom', 'type', 'date'])

In [127]:
df.to_csv('book_estate.csv')

In [128]:
df

,title,location,price (baht),area (SqM),bedroom,bathroom,type,date
0,First Tower,"Khlong Toei Nuea, Watthana, Bangkok","3,780,000",70,Studio,1,Condo,2023-03-28
1,Varathorn Ville,"Suan Luang, Suan Luang, Bangkok","4,900,000",300,5,5,Townhouse,2023-03-28
2,Sukhumvit Suite,"Khlong Toei Nuea, Watthana, Bangkok","3,550,000",53,1,1,Condo,2023-03-28
3,The Room Sukhumvit 21,"Khlong Toei Nuea, Watthana, Bangkok","8,500,000",52,1,1,Condo,2023-03-28
4,Supakarn Condominium,"Khlong Ton Sai, Khlong San, Bangkok","28,000,000",273,3,3,Condo,2023-03-28
...,...,...,...,...,...,...,...,...
115,Thonglor Tower,"Khlong Tan Nuea, Watthana, Bangkok","6,800,000",99,2,2,Condo,2023-03-28
116,Lumpini Ville Cultural Center,"Sam Sen Nok, Huai Khwang, Bangkok","1,854,000",35,1,1,Condo,2023-03-28
117,Hive Taksin,"Khlong Ton Sai, Khlong San, Bangkok","9,000,000",73,2,2,Condo,2023-03-28
118,Rhythm Ekkamai,"Khlong Tan Nuea, Watthana, Bangkok","8,000,000",35,1,1,Condo,2023-03-28
119,Click Condo Sukhumvit 65,"Phra Khanong Nuea, Watthana, Bangkok","5,200,000",54,1,1.5,Condo,2023-03-28