In [11]:
import requests
from bs4 import BeautifulSoup

In [12]:
url = "https://books.toscrape.com/catalogue/page-1.html"

In [13]:
response = requests.get(url)
print(response)

<Response [200]>

In [14]:
response = response.content

In [17]:
soup = BeautifulSoup(response, 'html.parser')

In [18]:
ol = soup.find('ol')

In [19]:
articles = ol.find_all('article', class_ = 'product_pod')

In [28]:
url = "https://books.toscrape.com/catalogue/page-1.html"
response = requests.get(url)
response = response.content
soup = BeautifulSoup(response, 'html.parser')
ol = soup.find('ol')
articles = ol.find_all('article', class_ = 'product_pod')

books = []

for article in articles:
    image = article.find('img')
    title = image.attrs['alt']  #attribute alt in image tage
    star = article.find('p')
    star = star['class'][1]  #name of the class in p tage #index [1] becuase want only rating
    price = article.find('p', class_ = 'price_color').text
    price = float(price[1:]) #to get rid of symbo and into float
    books.append([title, price, star])
    
print(books)

[['A Light in the Attic', 51.77, 'Three'], ['Tipping the Velvet', 53.74, 'One'], ['Soumission', 50.1, 'One'], ['Sharp Objects', 47.82, 'Four'], ['Sapiens: A Brief History of Humankind', 54.23, 'Five'], ['The Requiem Red', 22.65, 'One'], ['The Dirty Little Secrets of Getting Your Dream Job', 33.34, 'Four'], ['The Coming Woman: A Novel Based on the Life of the Infamous Feminist, Victoria Woodhull', 17.93, 'Three'], ['The Boys in the Boat: Nine Americans and Their Epic Quest for Gold at the 1936 Berlin Olympics', 22.6, 'Four'], ['The Black Maria', 52.15, 'One'], ['Starving Hearts (Triangular Trade Trilogy, #1)', 13.99, 'Two'], ["Shakespeare's Sonnets", 20.66, 'Four'], ['Set Me Free', 17.46, 'Five'], ["Scott Pilgrim's Precious Little Life (Scott Pilgrim #1)", 52.29, 'Five'], ['Rip it Up and Start Again', 35.02, 'Five'], ['Our Band Could Be Your Life: Scenes from the American Indie Underground, 1981-1991', 57.25, 'Three'], ['Olio', 23.88, 'One'], ['Mesaerion: The Best Science Fiction Stories 1800-1849', 37.59, 'One'], ['Libertarianism for Beginners', 51.33, 'Two'], ["It's Only the Himalayas", 45.17, 'Two']]

# Moving it into Multiple pages

In [29]:
import pandas as pd

In [31]:
books = []
for i in range(1,5):
    url = f"https://books.toscrape.com/catalogue/page-{i}.html"
    response = requests.get(url)
    response = response.content
    soup = BeautifulSoup(response, 'html.parser')
    ol = soup.find('ol')
    articles = ol.find_all('article', class_ = 'product_pod')

    

    for article in articles:
        image = article.find('img')
        title = image.attrs['alt']  #attribute alt in image tage
        star = article.find('p')
        star = star['class'][1]  #name of the class in p tage #index [1] becuase want only rating
        price = article.find('p', class_ = 'price_color').text
        price = float(price[1:]) #to get rid of symbo and into float
        books.append([title, price, star])

In [32]:
df = pd.DataFrame(books, columns=['Title', 'Price', 'Star Rating'])

In [33]:
df.to_csv('books.csv')

In [34]:
df

                                                Title  Price Star Rating
0                                A Light in the Attic  51.77       Three
1                                  Tipping the Velvet  53.74         One
2                                          Soumission  50.10         One
3                                       Sharp Objects  47.82        Four
4               Sapiens: A Brief History of Humankind  54.23        Five
..                                                ...    ...         ...
75                                           Security  39.25         Two
76      Saga, Volume 6 (Saga (Collected Editions) #6)  25.02       Three
77      Saga, Volume 5 (Saga (Collected Editions) #5)  51.04         Two
78  Reskilling America: Learning to Labor in the T...  19.83         Two
79  Rat Queens, Vol. 3: Demons (Rat Queens (Collec...  50.40       Three

[80 rows x 3 columns]